<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victo.acorde">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ac_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ac_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SplashScreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".MainActivity.MainActivity" />
        <activity android:name=".Individual.AtvIndividualActivity" />
        <activity android:name=".EmGrupo.AtvGrupoActivity" />
        <activity android:name=".Psicopedagoga.PsicopedagogaActivity" />
        <activity android:name=".Nutricionista.NutricionistaActivity" />
        <activity android:name=".EducadoraFisica.EducadoraFisicaActivity" />
        <activity android:name=".EducadoraEspecial.EducadoraEspecialActivity"></activity>
    </application>

</manifest>